@import "bootstrap";

.btn-primary {
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  color: #007;

}

 label {
  color: #008;
}
.btn-group-vertical {
}
.form-control {
  color: #33C;
}
.left-head {
  float: left;
}
.right-head {
  float: right;
}

#flights-table {
  color: #000078;
  width: 100%;
}
